body {
    margin: 0;
    position: fixed;
}
.map {
    position: absolute;
    height: 63.8vh;
    width: 60.1vw;
    margin-left: 19vw;
}
p{
    margin: 0;
}
main{
    display: flex;
}
footer{
    display: flex;
    width: 100vw;
}
#blue {
    background: blue;
}
#blue p {
    color: yellow;
}
#red{
    background: red;
}
#red p {
    color: blue;
}
#yellow{
    background: yellow;
}
#yellow p {
    color: red;
}

/*  upper animation*/

.container1{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 20vh;
}
.drank{
    overflow: hidden;
    width: 32vw;
    height: 13.3vh;

}
.drank div{
    display: flex;
    position: relative;

    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee1 5s linear infinite;
    animation-play-state: running;
}
.drank p{
    margin: 0;
    font-family: "berlin";
    font-size: 15.5vh;
    margin-top: -2vh;

    float: left;
}
.tabak{
    width: 34vw;
    height: 6.6vh;
    overflow: hidden;
}
.tabak div{
    display: flex;
    position: relative;

    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee1 6s linear infinite;
    animation-play-state: running;
}
.tabak p{
    font-family: "Syncopate";
    font-size: 7vh;
}
.pizza{
    width: 11vw;
    height: 6.6vh;
    overflow: hidden;
}
.pizza div{
    display: flex;
    position: relative;

    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee1 7s linear infinite;
    animation-play-state: running;

}
.pizza p{
    font-family: "stencilulregular";
    font-size: 6vh;
    margin-top: -1.5vh;
}
.tipjes{
    position: absolute;
    width: 12.5vw;
    height: 6.79vh;
    margin-left: 39vw;
    margin-top: -0.1%;
    overflow: hidden;
}
.tipjes div{
    display: flex;
    position: relative;

    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee1 5s linear infinite;
    animation-play-state: running;

}
.tipjes p{
    font-family: "ribesblack";
    font-size: 5.5vh;
}
.nightshop{
    width: 34vw;
    height: 6.6vh;

    overflow: hidden;

}
.nightshop div{
    display: flex;
    position: relative;

    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee1 10s linear infinite;
    animation-play-state: running;
}
.nightshop p{
    font-family: "lignette";
    font-size: 5.3vh;
}
.samosa{
    position: absolute;
    width: 28vw;
    margin-left: 20vw;
    height: 13.4vh;
    overflow: hidden;

}
.samosa div{
    display: flex;
    position: relative;

    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee1 7s linear infinite;
    animation-play-state: running;
}
.samosa p{
    font-family: "blenny";
    font-size: 17vh;
    margin-top: -8.7vh;
}
.chips{
    width: 23vw;
    height: 6.6vh;
    overflow: hidden;
}
.chips div{
    display: flex;
    position: relative;

    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee1 5s linear infinite;
    animation-play-state: running;

}
.chips p {
    font-family: "tephra";
    font-size: 7vh;
    margin-top: -1.4vh;
}
.fristi{
    position: absolute;
    width: 7.5vw;
    height: 6.79vh;
    margin-left: 51.5vw;
    margin-top: -0.1%;
    overflow: hidden;
}
.fristi div{
    display: flex;
    position: relative;

    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee1 4s linear infinite;
    animation-play-state: running;

}
.fristi p {
    font-family: "engel";
    font-size: 6vh;
    margin-top: 1vh;
}
.alcohol{
    width: 20vw;
    height: 6.7vh;

    overflow: hidden;

}
.alcohol div {
    display: flex;
    position: relative;

    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee1 5s linear infinite;
    animation-play-state: running;
}
.alcohol p{
    font-family: "naivregular";
    font-size: 6.3vh;
    margin-top: -0.5vh;
}
.fris{
    width: 18vw;
    height: 6.6vh;
    overflow: hidden;
}
.fris div {
    display: flex;
    position: relative;

    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee1 5s linear infinite;
    animation-play-state: running;
}
.fris p {
    font-family: "neorange";
    font-size: 6.5vh;
    margin-top: -0.4vh;

}
.rol{
    position: absolute;
    margin-left: 48vw;
    width: 20vw;
    height: 6.6vh;
    overflow: hidden;

}
.rol div{
    display: flex;
    position: relative;

    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee1 5s linear infinite;
    animation-play-state: running;
}
.rol p{
    font-family: "hvd";
    font-size: 7vh;
    margin-top: -1.5vh;
}
.bluered{
    display: flex;
    flex-wrap: wrap;
}
.yellow34{
    display: flex;
    flex-wrap: flex;
}
@keyframes marquee1 {
    0% { left: -50%; }
    100% { left: -150%; }
  }
/*  left animation*/

.containerLeft{
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
}
.pepsi{
    width: 7vw;
    height: 40vh;
    overflow: hidden;
}
.pepsi div{
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee2 5s linear infinite;
    animation-play-state: running;

}
.pepsi p{
    padding-bottom: 16vh;
    font-family: "blenny";
    font-size: 8vW;
    transform-origin: 0 0;
    transform: rotate(270deg);
    margin-left: -4vw;

}
.cara{
    width: 5vw;
    height: 33.85vh;

    overflow: hidden;
}
.cara div{
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee222 6s linear infinite;
    animation-play-state: running;
}
.cara p{
    font-family: "lignette";
    font-size: 6vw;
    margin-left: 1.5vw;
    transform: rotate(270deg);
    margin-bottom: 16vh;
}
.fanta{
    height: 30vh;
    width: 5vw;
    overflow: hidden;
}
.fanta div{
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee222 6s linear infinite;
    animation-play-state: running;
}
.fanta p{
    font-family: "tephra";
    margin-left: 0.5vw;
    font-size: 5vw;

    transform: rotate(270deg);
    margin-bottom: 19vh;
}
.lays{
    width: 3vw;
    height: 23.8vh;
    overflow: hidden;

}
.lays div{
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee222 6s linear infinite;
    animation-play-state: running;
}
.lays p{
    font-family: "ribesblack";
    font-size: 3vw;
    margin-left: 0.2vw;

    transform: rotate(270deg);
    margin-bottom: 10vh;
}
.rizla{
    width: 7vw;
    height: 15.85vh;
    overflow: hidden;
}
.rizla div{
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee2222 6s linear infinite;
    animation-play-state: running;
}
.rizla p{
    font-family: "naiv";
    font-size: 7.5vw;

    margin-left: 1vw;
    transform: rotate(270deg);
    margin-bottom: 35vh;
}
.coca{
    width: 7vw;
    height: 48vh;
    overflow: hidden;
}
.coca div{
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee222 6s linear infinite;
    animation-play-state: running;
}
.coca p {
    font-family: "berlin";
    font-size: 8.5vw;

    transform: rotate(270deg);
    margin-bottom: 80vh;
}
.jupiler{
    width: 4vw;
    height: 23.85vh;
    overflow: hidden;
}
.jupiler div{
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee22 3s linear infinite;
    animation-play-state: running;
}
.jupiler p{
    font-family: "syncopate";
    font-size: 4.5vw;
    transform: rotate(270deg);
    margin-bottom: 23vw;
    margin-left: 0.5vw;

}
.redyellowblue{
    width: 7vw;
    display: flex;
    flex-wrap: wrap;
}
.yellowb{
    position: absolute;
    margin-left: 12vw;
}
@keyframes marquee2 {
    0% { bottom: 0%; }
    100% { bottom: -100%; }
}
@keyframes marquee22 {
    0% { bottom: 50%; }
    100% { bottom: -150%; }
}
@keyframes marquee222 {
    0% { bottom: 150%; }
    100% { bottom: -50%; }
}
@keyframes marquee2222 {
    0% { bottom: 400%; }
    100% { bottom: -190%; }
}
/*  right animation*/
.containerRight{
    display: flex;
    margin-left: 59vw;
    width: 20.9vw;
}
.choufke{
    width: 7vw;
    height: 15.85vh;
    overflow: hidden;
}
.choufke div{
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee3 6s linear infinite;
    animation-play-state: running;
}
.choufke p{
    font-family: "naiv";
    font-size: 7vw;

    margin-right: 1vw;

    transform: rotate(90deg);
    margin-bottom: 50vh;
}
.sig{
    width: 3vw;
    height: 23.85vh;
    overflow: hidden;
}
.sig div{
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee33 6s linear infinite;
    animation-play-state: running;
}
.sig p{
    font-family: "ribesblack";
    font-size: 3.5vw;

    transform: rotate(90deg);
    margin-bottom: 40vh;
}
.snoep{
    height: 30vh;
    width: 5vw;

    overflow: hidden;
}
.snoep div{
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee33 6s linear infinite;
    animation-play-state: running;
}
.snoep p{
    font-family: "tephra";
    font-size: 5.3vw;

    transform: rotate(90deg);
    margin-bottom: 40vh;
    margin-right: 0.3vw;

}
.wc{
    width: 5vw;
    height: 33.85vh;
    overflow: hidden;
}
.wc div{
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee33 6s linear infinite;
    animation-play-state: running;
}
.wc p{
    font-family: "lignette";
    font-size: 5.3vw;

    transform: rotate(90deg);
    margin-bottom: 50vh;
    margin-right: 1.5vw;
}
.royco{
    position: absolute;
    margin-top: 23.8vh;
    width: 9vw;
    height: 40vh;
    overflow: hidden;
}
.royco div{
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee33 6s linear infinite;
    animation-play-state: running;
}
.royco p{
    font-family: "blenny";
    font-size: 10vw;

    transform: rotate(90deg);
    margin-bottom: 25vh;
    margin-right: 1.3vw;
}
.redbull{
    position: absolute;
    margin-left: 3vw;
    width: 6vw;
    height: 23.85vh;
    overflow: hidden;
}
.redbull div{
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee333 6s linear infinite;
    animation-play-state: running; 
}
.redbull p{
    font-family: "syncopate";
    font-size: 7.5vw;

    transform: rotate(90deg);
    margin-bottom: 95vh;
    margin-right: 0.9vw;
}
.ijs{
    position: absolute;
    margin-top: 15.85vh;
    width: 7vw;
    height: 48vh;
    overflow: hidden;
}
.ijs div{
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee3333 6s linear infinite;
    animation-play-state: running; 
}
.ijs p{
    font-family: "berlin";
    font-size: 7.5vw;

    transform: rotate(90deg);
    margin-bottom: 25vh;
}
.blueyellowred{
    display: flex;
    flex-wrap: wrap;
    width: 9vw;
}
.blueyellow{
    display: flex;
    flex-wrap: wrap;
}
@keyframes marquee3 {
    0% { top: 50%; }
    100% { top: -600%; }
}@keyframes marquee33 {
    0% { top: 0%; }
    100% { top: -400%; }
}
@keyframes marquee333 {
    0% { top: 0%; }
    100% { top: -600%; }
}@keyframes marquee3333 {
    0% { top: 0%; }
    100% { top: -300%; }
}
/*  bottom animation*/
.redyellowblue2{
    display: flex;
    flex-wrap: wrap;
    width: 19vw;
    height: 16vh;
}
.container3{
    display: flex;
    flex-wrap: wrap;
    width: 47vw;
}
.red9{
    width: 7vw;
    height: 7vh;
}
.red10{
    width: 34vw;
}
.red11{
    height: 7vh;
    width: 23vw;
}
.yellow9{
    width: 12vw;
    height: 7vh;
}
.yellow10{
    height: 7vh;
    width: 10vw;
}
.yellow11{
    height: 9.1vh;
    width: 29vw;
}
.blue10{
    width: 19vw;
    height: 9vh
}
.blue11{
    height: 7vh;
    width: 14vw;
}
.blue12{
    height: 9.1vh;
    width: 18vw;
}
/*  NAVIGATION CONTROLS */
.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon,
.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}