body {
    margin: 0;
}
.map {
    position: absolute;
    height: 30vw;
    width: 60vw;
    margin-left: 20%;
}
p{
    margin: 0;
}
main{
    display: flex;
}

/*  upper animation*/

.container1{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 20vh;
}
.yellow1{
    background: yellow;
    width: 32vw;
    height: 13.3vh;
}
.yellow2{
    background: yellow;
    width: 34vw;
    height: 6.6vh;
}
.yellow3{
    background: yellow;
    width: 11vw;
    height: 6.6vh;
}
.yellow4{
    background: yellow;
    position: absolute;
    width: 12.5vw;
    height: 6.79vh;
    margin-left: 39vw;
    margin-top: -0.1%;

}
.red1{
    background: red;
    width: 34vw;
    height: 6.6vh;
}
.red2{
    background: red;
    position: absolute;
    width: 28vw;
    margin-left: 20vw;
    height: 13.4vh;
}
.red3{
    background: red;
    width: 23vw;
    height: 6.6vh;
}
.red4{
    background: red;
    position: absolute;
    width: 7.5vw;
    height: 6.79vh;
    margin-left: 51.5vw;
    margin-top: -0.1%;
}
.blue1{
    background: blue;
    width: 20vw;
    height: 6.7vh;
}
.blue2{
    background: blue;
    width: 18vw;
    height: 6.6vh;
}
.blue3{
    background: blue;
    position: absolute;
    margin-left: 48vw;
    width: 20vw;
    height: 6.6vh;
}

.bluered{
    display: flex;
    flex-wrap: wrap;
}
.yellow34{
    display: flex;
    flex-wrap: flex;
}
/*  left animation*/

.containerLeft{
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
}
.red5{
    background: red;
    width: 7vw;
    height: 40vh;
}
.red6{
    background: red;
    width: 5vw;
    height: 33.85vh;
}
.blue4{
    background: blue;
    height: 30vh;
    width: 5vw;
}
.blue5{
    background: blue;
    width: 3vw;
}
.blue6{
    background: blue;
    width: auto;
    height: 15.85vh;
}
.yellow5{
    background: yellow;
    width: 8vw;
    height: 48vh;
}
.yellow6{
    background: yellow;
    width: 4vw;
    height: 23.85vh;
}
.redyellowblue{
    width: 7vw;
    display: flex;
    flex-wrap: wrap;
}



/*  NAVIGATION CONTROLS */
.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon,
.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}