body {
    margin: 0;
}
.map {
    position: absolute;
    height: 30vw;
    width: 60vw;
    margin-left: 19vw;
}
p{
    margin: 0;
}
main{
    display: flex;
}
footer{
    display: flex;
    width: 100vw;
}
#blue {
    background: blue;
}
#red{
    background: red;
}
#yellow{
    background: yellow;
}

/*  upper animation*/

.container1{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 20vh;
}
.yellow1{
    width: 32vw;
    height: 13.3vh;
}
.yellow2{
    width: 34vw;
    height: 6.6vh;
}
.yellow3{
    width: 11vw;
    height: 6.6vh;
}
.yellow4{
    position: absolute;
    width: 12.5vw;
    height: 6.79vh;
    margin-left: 39vw;
    margin-top: -0.1%;

}
.red1{
    width: 34vw;
    height: 6.6vh;
}
.red2{
    position: absolute;
    width: 28vw;
    margin-left: 20vw;
    height: 13.4vh;
}
.red3{
    width: 23vw;
    height: 6.6vh;
}
.red4{
    position: absolute;
    width: 7.5vw;
    height: 6.79vh;
    margin-left: 51.5vw;
    margin-top: -0.1%;
}
.blue1{
    width: 20vw;
    height: 6.7vh;
}
.blue2{
    width: 18vw;
    height: 6.6vh;
}
.blue3{
    position: absolute;
    margin-left: 48vw;
    width: 20vw;
    height: 6.6vh;
}

.bluered{
    display: flex;
    flex-wrap: wrap;
}
.yellow34{
    display: flex;
    flex-wrap: flex;
}
/*  left animation*/

.containerLeft{
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
}
.red5{
    width: 7vw;
    height: 40vh;
}
.red6{
    width: 5vw;
    height: 33.85vh;
}
.blue4{
    height: 30vh;
    width: 5vw;
}
.blue5{
    width: 3vw;
}
.blue6{
    width: 7vw;
    height: 15.85vh;
}
.yellow5{
    width: 7vw;
    height: 48vh;
}
.yellow6{
    width: 4vw;
    height: 23.85vh;
}
.redyellowblue{
    width: 7vw;
    display: flex;
    flex-wrap: wrap;
}

/*  right animation*/
.containerRight{
    display: flex;
    margin-left: 59vw;
    width: 20.9vw;
}
.blue7{
    width: 7vw;
    height: 15.85vh;
}
.blue8{
    width: 3vw;
    height: 23.85vh;
}
.blue9{
    height: 30vh;
    width: 5vw;

}
.red7{
    width: 5vw;
    height: 33.85vh;
}
.red8{
    width: 9vw;
    height: 40vh;
}
.yellow7{
    width: 6vw;
    height: 23.85vh;
}
.yellow8{
    position: absolute;
    margin-top: 15.85vh;
    width: 7vw;
    height: 48vh;
}

.blueyellowred{
    display: flex;
    flex-wrap: wrap;
    width: 9vw;
}
.blueyellow{
    display: flex;
    flex-wrap: wrap;
}

/*  bottom animation*/
.redyellowblue2{
    display: flex;
    flex-wrap: wrap;
    width: 19vw;
    height: 16vh;
}
.container3{
    display: flex;
    flex-wrap: wrap;
    width: 47vw;
}
.red9{
    width: 7vw;
    height: 7vh;
}
.red10{
    width: 34vw;
}
.red11{
    height: 7vh;
    width: 23vw;
}
.yellow9{
    width: 12vw;
    height: 7vh;
}
.yellow10{
    height: 7vh;
    width: 10vw;
}
.yellow11{
    height: 9.1vh;
    width: 29vw;
}
.blue10{
    width: 19vw;
    height: 9vh
}
.blue11{
    height: 7vh;
    width: 14vw;
}
.blue12{
    height: 9.1vh;
    width: 18vw;
}
/*  NAVIGATION CONTROLS */
.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon,
.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}