body {
    margin: 0;
}
#map {
display: block;
    height: 30vw;
    width: 60vw;
    margin-left: 20%;
}

.yellow1{
    background: yellow;
    width: 32vw;
    height: 15vh;
}

p{
    margin: 0;
}
.red1{
    background: red;
    width: 38vw;
    height: 5vh;
}